nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFF;
  position: fixed;
  top: 0;
  padding: 0 1.5em;
  align-items: center;
}

.prompt-container {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  align-items: center;
}

.double-down-arrow {
  color: red;
}

.click-new-tweet {
  color: #FFFF;
  margin: 0 0;
}

.click-new-tweet:hover {
  cursor: pointer;
}