/* container for all tweets, reverse column for latest rendering first */
#tweets-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.existing-tweets {
  border-style: solid;
  border-color: #545149;
  padding: 0.5em;
  margin-bottom: 1em;
}

.existing-tweets:hover {
  box-shadow: 10px 10px skyblue;
}


.header-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-additional {
  align-items: center;
  border-style: solid none none none;
  border-color: #545149;
}

.name-icon {
  display: flex;
  align-items: center;
}

.name-handle {
  opacity: 0.5;
  font-weight: bold;
  color: grey;
}

.social-icons {
  color: #4056A1;
}

.social-icons i:hover {
  color: #d69900;
}

