.new-tweet {
  color: #545149;
  width: 100%;
  margin-top: 1em;
}

.title {
  color: #545149;
}

.submit-footer {
  font-family: "Bungee";
}

button {
  background-color: #4056A1;
  color: #FFFF;
}

.counter {
  color: #545149;
}

.over140 {
  color: red;
}

.submit-header {
  border-style: none none solid none;
  border-color: #545149;
  display: flex;
  flex-direction: column;
}

.submit-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}

label {
  font-weight: 600;
}

textarea {
  resize: none;
  background-color: #f4f1ec;
  outline: none;
  border-color: transparent;
}

.hidden-errors {
  display: none;
  color: red;
}

.text-focus {
  background-color: aliceblue;
}
